# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/

# PyCharm project files
.idea/

# SQLite database file
*.db

# Encryption keys or sensitive files
*.key
config.env

# Logs
*.log
*.log.*

# Flask cache and session data
instance/
*.pid

# MacOS and system files
.DS_Store
Thumbs.db

contact_form.db
.env
